.container 
{
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  &-inner {
    max-width: rem(1120px);
    margin: 0 auto;
  }
}

.wrapper
{
  overflow: hidden;
  min-height: calc(100% - 168px);
}

.section
{
  position: relative;
  &--lgrey {
    background-color: $lightGrey;
  }
  &-title {
    position: absolute;
    top: 15px;
    left: 0;
    @include font-size(18px);
    font-weight: 700;
    color: $white;
    padding: 10px 25px;
    width: 25%;
    text-align: right;
    background-color: $orange;
    @include tablets {
      width: auto;
    }
  }
}

.btn 
{
  @include font-size(12px);
  font-weight: 700;
  display: inline-block;
  padding: 10px 20px;
  background: $orange;
  transition: all .3s ease;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  &:hover 
  {
    background: #ffb833;
    cursor: pointer;
    transition: all .3s ease;
  }
}

.section-title-text {
  text-align: center;
  margin-bottom: 40px;
  @include font-size(28px)
  &--white {
    color: #fff;
  } 
}

.title-cube
{
  position: relative;
  padding-left: 25px;

  &:after
  {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #F2B910;
    transform: translateY(-50%);
  }
}

.text
{
  &-cube
  {
    position: relative;
    padding-left: 15px;

    &:after
    {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      height: 10px;
      width: 10px;
      background-color: #F2B910;
      transform: translateY(-50%);
    }
  }

  &-orange
  {
    color: #F2B910;
  }
  
  &-bold
  {
    font-weight: 700;
  }
}

.block-4
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  @include noute1150 {
    justify-content: center;
  }

  &__item 
  {
    margin: 0 10px 20px;
    width: calc( ( 100% - 80px ) / 4 );
    display: flex;
    border: 1px solid transparent;
    @include noute1150 {
      flex: 1 1 25%;
      justify-content: center;
      width: 25%;
    }
    @include phones-xs {
      width: 100%;
      min-width: 280px;
      max-width: 100%;
      min-height: 250px;
    }
    &--w50 {
      flex: 1 1 50%;
      width: 50%;
      max-width: calc( ( 100% - 40px ) / 2 );
      @include phones-xs {
        width: 100%;
        min-width: 280px;
        max-width: 100%;
        min-height: 250px;
      }
    }
  }
}

.block-3
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  @include noute1150 {
    justify-content: center;
  }

  &__item 
  {
    margin: 0 10px 20px;
    width: calc( ( 100% - 60px ) / 3 );
    display: flex;
    border: 1px solid transparent;
    flex: 1;
    justify-content: center;
    max-width: 33.333%;
  }
}

.span-br
{
  display: block;
}



.ungle-block {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  .ungle-block_item {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid #000;
  }
  &--white {
    .ungle-block_item {
      border: 1px solid #fff;
    }
  }
  &--bold {
    .ungle-block_item {
      border: 2px solid #000 ;
    }
  }
  .ungle-block_item--tl {
    top: -1px;
    left: -1px;
    border-right: none;
    border-bottom: none;
  }
  .ungle-block_item--tr {
    top: -1px;
    right: -1px;
    border-left: none;
    border-bottom: none;
  }
  .ungle-block_item--br {
    bottom: -1px;
    right: -1px;
    border-top: none;
    border-left: none;
  }
  .ungle-block_item--bl {
    bottom: -1px;
    left: -1px;
    border-top: none;
    border-right: none;
  }
}

.owl-stage {
  display: flex;
}
.owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 34px;
    height: 16px;
    background-image: url(../images/content/arrow-prev.png);
    margin: 0 10px;
    transform: scale(1);
    transition: all .3s ease;
    &:hover {
      transform: scale(1.1);
      transition: all .3s ease;
    }
  }
  .owl-next {
    transform: rotate(180deg);
    background-position: 0 -2px;
    &:hover {
      transform: scale(1.1) rotate(180deg);
      transition: all .3s ease;
    }
  }
}

.burger-block {
  display: none;
  width: 45px;
  height: 76px;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 10px;
  z-index: 300;
  cursor: pointer;
  @include tablets {
    display: block;
  }
}
.burger {
  display: block;
  width: 35px;
  height: 76px;    
  margin: 0 auto;
  transition: all .4s;
  cursor: pointer;
  position: relative;
  &--active {
    .burger__line {
      background-color: $darkGrey;
      transition: all .4s;
    }
    .burger__line--1 {
      animation: burgerline1 .4s forwards;
    }
    .burger__line--2 {
      animation: burgerline2 .4s forwards;
    }
    .burger__line--3 {
      animation: burgerline3 .4s forwards;
    }
  }
  &-text {
    width: 80%;
    margin: 0 auto 20px;
    @include font-size(14px)
  }
}
.burger__line {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background: $orange;
  transition: all .4s;
  pointer-events: none;
  &--1 {
    top: 26px;
  }
  &--2 {
    top: 36px;
  }
  &--3 {
    top: 46px;
  }
}
@keyframes burgerline1 {
  0% {
      top: 26px;
  }
  50% {
      top: 34px;
      transform: rotate(0);
  }
  100% {
      top: 34px;
      transform: rotate(45deg);
  }
}
@keyframes burgerline2 {
  0% {}
  50% {}
  100% {
      opacity: 0;
  }
}
@keyframes burgerline3 {
  0% {
      top: 42px;
  }
  50% {
      top: 34px;
      transform: rotate(0);
  }
  100% {
      top: 34px;
      transform: rotate(-45deg);
  }
}
.burger-menu { 
  background-color: rgba(245, 245, 246, 1);
  padding-top: 50px;
  width: 100%;
  z-index: 200;
  top: 50px;    
  height: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  z-index: 9;
  transition: all .5s ease;
  &.burger-menu--active {
    position: fixed;
    display: flex;
    align-items: flex-start;
    transform: translateY(0);
    transition: all .5s ease;
  }
}
.burger-nav {
  height: 60%;    
  padding-top: 5px;
}
.burger-nav__list {    
  padding: 20px 30px;
}
.burger-nav__item {
  margin-bottom: 10px;
}
.burger-nav__link {
  @include font-size(20px);
  position: relative;
  color: $darkGrey;
}

#popup{
  display: none;
}
.overlay-modal 
{    
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background: rgba(70, 70, 70, 0.95);
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  &--none 
  {
    display: none;
  }
}
.modal-popup
{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  @include phones {
    padding: 30px 0;
    overflow-y: scroll;
  }
}

.popup-body
{
  padding: 25px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 310;
  position: relative;
  max-width: 80%;
  min-height: 200px;
  @include tablets {
    width: 90%;
  }
  @include phones {
    width: 100%;    
    max-width: 95%;
    top: 50px;
    padding: 20px 30px 20px;    
    position: absolute;
    overflow-y: scroll;
  }
  &__title {
    font-weight: 700;    
    margin-bottom: 20px;
  }
  &__text  {
    p {
      margin-bottom: 10px;
    }
  }
}
.close
{
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  transition: all .3s ease;
  padding: 5px;
  &:hover 
  {
    cursor: pointer;
    &:before
    {
      transform: scale(1.1) rotate(45deg);
      transition: all .3s ease;
    } 
    &:after 
    {
      transform: scale(1.1) rotate(-45deg);
      transition: all .3s ease;
    }  
  }
  &:before 
  {
    content: '';
    position: absolute;
    top: 20px;
    left: 8px;
    height: 2px;
    width: 25px;
    transform: rotate(45deg);
    background: #000;
    transition: all .3s ease;
  }
  &:after 
  {
    content: '';
    position: absolute;
    top: 20px;
    left: 8px;
    height: 2px;
    width: 25px;
    transform: rotate(-45deg);
    background: #000;
    transition: all .3s ease;
  }
  @include phones {
    top: 0px;
  }
}
