@font-face {
  font-family: 'NatoSans';
  src: url('../fonts/NotoSans.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NatoSans';
  src:  url('../fonts/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
