.header{
  border-bottom: 1px solid $black;
  padding: 10px 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;    
  z-index: 10;
  
  &-inner{
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    width: 63%;
    @include noute1150 {
      width: 85%;
    }
    @include noute950 {
      width: 92%;
    }
    @include tablets {
      width: 20%;
    }
  }

  &__left_logo {
    height: 60px;
    max-width: 60px;
    position: relative;
    @include tablets {
      height: 55px;
    }
  }

  &__logo_link {
    height: 100%;
  }

  &__left_nav {
    flex: 1;
    @include tablets {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 37%;
    @include noute1150 {
      width: 15%;
    }
    @include noute950 {
      width: 8%;
    }
    @include tablets {
      width: 80%;
    }
  }

  &__right_soc {
    padding-left: 35px;
    @include tablets {
      padding-right: 70px;
    }
    .social__link_svg {
      fill: $white;
      &:hover {
        fill: $orange;
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 20px;
  }
  &__list__link {
    @include font-size(14px);
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s ease;
    color: $black;
    @include noute1300 {
      @include font-size (12px);
    }
    &:hover {
      color: $orange;
      transition: all .3s ease;
    }
  }
}

.header__right_btn {
  padding: 0 15px;
  display: flex;
  align-items: center;
  @include noute1150 {
    display: none;
  }
  .input {
    max-width: 207px;
    flex: 1;
    margin-right: 10px;
    height: 35px;
  }
  .btn {
    max-width: 207px;
    flex: 1;
    line-height: 1.3;
  }
}

.social__link_svg {
  height: 30px;
  width: 30px;
}

.social__list {
  display: flex;
}

.social__link {
  display: flex;
  align-items: centers;
  margin: 5px;
}

.section-hero {
  padding: 6% 0 0;
  background-color: $lightGrey;
  position: relative;
  overflow: hidden;
}

.hero {
  min-height: 100vh;
  @include noute1150 {
    min-height: 80vh;
  }
  @include phones {
  background-image: url(../images/bg/hero-bg-mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  }

  &-wrap {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg/main-bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-inner {
    padding: 40px 0;
    @include noute950 {
      padding-top: 70px;
    }
    @include phones {
      position: absolute;
      top: 10vh;    
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__logo-block {
    margin: 0 auto 30px;
    position: relative;
    text-align: center;
  }

  &__logo_svg {
      max-height: 100px;
      width: auto;
      @include tablets {
        max-height: 80px;
        margin-top: 10px;
      }
      @include phones {
        max-height: 150px;
      }
  }

  &-title {
    @include font-size(28px);
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    @include phones {
      display: none;
    }
    &-mob {
      display: none;
      @include phones {
        @include font-size(26px);
        display: block;
        padding-top: 55vh;
        text-align: center;
      }
    }
  }
}

.hero-condition {
  position: absolute;
  bottom: 20px;    
  width: 100%;
  @include phones {
    position: relative;
  }
}

.condition{
  &__list {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    @include noute950 {
      width: 70%;
    }
    @include tablets {
      width: 80%;
    }
    @include phones {
      background-color: $lightGrey;
      margin: 0;
      width: 100%;
      padding: 30px 15px 0px;
      flex-wrap: wrap;
    }
  }
  &__item {
    align-items: center;
    @include phones {
      width: 50%;
      margin-bottom: 20px;
      min-width: 250px;
    }
    @include phones-xs {
      width: 100%;
    }
  }
  &__item_icon{
    text-align: center;
  }
  &__item_svg {
    max-height: 40px;
    max-width: 40px;
  }
  &__item_text {
    @include font-size(12px);
    font-weight: 700;
    text-align: center;
    z-index: 20;
    padding: 0 10px;
    @include phones {
      @include font-size(16px);
    }
  }
}



.section-couses {
  .container {
    background-color: $lightGrey;
  }
  .course-inner {
    padding: 90px 50px 50px;
    background-color: #fff;
    @include phones {
      padding: 90px 15px 50px;
    }
  }
}

.course {
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  position: relative;
  z-index: 0;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(250, 252, 255, .85);
    z-index: -1;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    height: 100px;
    width: 100px;
    border: 5px solid $white;
    z-index: -1;
  }
  &__content {
    z-index: 1;
    .course__btn {
      display: none;
      @include tablets {
        display: block;    
        margin-bottom: 15px;
      }
    }
  }
  &__title {
    margin-bottom: 50px;
    @include font-size(24px);
    font-weight: 700;
    text-align: center;
  }
  &__pic {
    margin-bottom: 25px;
    max-height: 50px;
    &_img {
      height: 100%;
      width: auto;
    }
  }
  &__price {
    margin-bottom: 25px;
    @include font-size(22px);
    font-weight: 700;
    text-align: center;
    color: $orange;
  }
  &__status {
    @include font-size(14px);
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-left: 20px;
    display: inline-block;
    margin: 0 auto;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: $orange;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__description {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $darkGrey;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    @include tablets {
      display: none;
    }
    &_text {
      p {
        margin-bottom: 10px;
        color: $white;
        text-align: left;
        @include font-size(12px);
      }
    }
    &_btn {
      text-align: center;
    }
  }
  &:hover{
    .course__description {
      display: flex;
      @include tablets {
        display: none;
      }
    }
  }
}
.course--fish {
  .course{
    &:before {
      display: none;
    }
    &:after {
      content: '';
      position: absolute;
      background-image: url(../images/content/course/fish.png);
      background-size: contain;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      height: 200px;
      width: 200px;
      background-color: transparent;
    }
    .ungle-block{
      &_item {
        border: 1px solid #E1E4E9 ;
        &--tl {
          top: 0;
          left: 0;
          border-right: none;
          border-bottom: none;
        }
        &--tr {
          top: 0;
          right: 0;
          border-left: none;
          border-bottom: none;
        }
        &--br {
          bottom: 0;
          right: 0;
          border-top: none;
          border-left: none;
        }
        &--bl {
          bottom: 0;
          left: 0;
          border-top: none;
          border-right: none;
        }
      }
    }
  }
  @include phones {
    display: none;
  }
}

.block-4__item {
  .course__description_btn {
    .btn {
      width: 100%;
    }
  }
  &--w50 {
    .course__description_btn {
      .btn {
        width: 40%;
      }
    }
  }
}

.section-double {
  background-color: $lightGrey;
  overflow: hidden;
  &__wrap {
    background-image: url(../images/bg/team-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include phones {
      background-image: none;
      background-color: rgba(0, 0, 0, .9);
    }
  }
}
.section-comand {
  padding: 100px 0 70px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  @include tablets {
    .block-4__item {
      flex: 1 1 100%;
      width: 100%;
      max-width: calc( 100% - 20px );
    }
  }
  @include phones-xs {
    padding-bottom: 0;
    padding: 50px 0;
  }
}

.comand {
  display: flex;
  position: relative;
  @include phones-xs {
    flex-direction: column;
  }
  &__avatar {
    flex: 1;
    position: relative;
    overflow: hidden;
    @include phones-xs {
      min-height: 300px;
    }
    &_img {
      position: absolute;
      min-width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      @include tablets {
        height: auto;
      }
    }
  }
  &__content {
    padding: 50px 20px;
    flex: 1;
    color: $white;
    display: flex;
    flex-direction: column;
    background-color: $black;
    &_title {
      @include font-size(18px);
      font-weight: 700;
      margin-bottom: 15px;
      text-align: left;
    }
    &_subtitle {
      @include font-size(14px);
      font-weight: 500;
      margin-bottom: 40px;
      text-align: left;
    }
    &_text {
      p {
        @include font-size(12px);
        font-weight: 500;
        margin-bottom: 10px;
        text-align: left;
      }
    }
  }
}

.section-reaction {
  padding: 50px 0;
  .container-inner {
    overflow: hidden;
  }
  .section-title-text {
    margin: 50px 0 40px;
    @include phones {
      margin: 0px 0 40px;
    }
  }
  .owl-item {
    padding: 2px;
  }
  @include phones {
    background-image: none;
    background-color: $lightGrey;
  }
}

.reaction {
  padding: 1px 0 1px 1px;
  &__mes {
    width: 100%;
    background-color: $white;
    padding: 20px 0 40px;
    position: relative;
    margin-bottom: 50px;
    &:after {
      content: '';
      position: absolute;
      top: 99.8%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 30px 0 30px;
      border-color: $white transparent transparent transparent;
    }
  }
  &__mes-inner {
    width: 80%;
    margin: 0 auto;
  }
  &__mes_logo{
    text-align: center;
    max-height: 150px;
    margin-bottom: 10px;
    &_img {
      height: 100%;
    }
  }
  &__mes_text {
    @include font-size(16px);
    font-style: italic;
    text-align: center;
  }
  &__data {
    text-align: center;
    margin-bottom: 20px;
    &_name {
      @include font-size(22px);
      font-weight: 700;
      margin-bottom: 10px;
    }
    &_prof {
      @include font-size(16px);
      font-weight: 500;
      margin-bottom: 5px;
    }
    &_company {
      @include font-size(16px);
      font-weight: 500;
    }
  }
}

.section-partners {
  padding: 50px 0;
}

.partners {
  overflow: hidden;
}

.partners__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 15%;
    position: relative;
    margin: 10px 15px 30px;
    @include phones {
      width: 40%;
    }
  }
  &_img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
  }
}

.section-news {
  padding: 50px 0 0;
  background-color: $lightGrey;
  .container-inner {
    background-color: $white;
  }
}
.news {
  overflow: hidden;    
  padding-bottom: 40px;
  &__item {
    padding: 40px 0 0px;
    width: 80%;
    margin: 0 auto;
    @include noute950 {
      width: 95%;
    }
  }
  .owl-carousel-2 {
    .owl-item  {
      display: flex;
    }
    .owl-stage-outer {
      overflow: hidden;
      margin-bottom: 30px;
    }
  }
}

.new {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    margin-bottom: 10px;
  }
  &__pic {
    width: 100%;
    overflow: hidden;
    min-height: 180px;
    margin-bottom: 10px;
    &_img {
      height: 100%;
      width: auto;
    }
  }
  &__title {
    @include font-size(16px);
    font-weight: 700;
    margin-bottom: 10px;
    min-height: 44px;
  }
  &__descrition {
    @include font-size(14px);
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__block-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_date {
      @include font-size(12px);
      font-weight: 500;
    }
  }
}


.section-feedback {
  background-color: $lightGrey;
  &-wrap {
  background-image: url(../images/bg/contact-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 110px 0 90px;
  position: relative;
  @include phones {
    background-image: none;
    background-color: rgba(0, 0, 0, .9);
    padding: 50px 0;
  }
  }
}
.feedback {
  display: flex;
  @include tablets {
    flex-direction: column;
  }
  &__left {
    flex: 1 1 50%;
    background-color: $darkGrey;
    padding: 50px 40px;
    @include phones {
      padding: 30px 15px;
    }
  }
  &__right {
    flex: 1 1 50%;
    background-color: $white;
    padding: 70px 40px;
  }
  &__right_text {
    margin-bottom: 50px;
    p {
      @include font-size(14px);
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
  &__contact {
    display: flex;
    margin-bottom: 10px;
  }
  &__contact_icon {
    max-width: 16px;
    max-height: 20px;
    margin-right: 10px;
    &_svg {
      width: 100%;
    }
  }
  &__contact_link {
    color: $black
  }
}

.form {
  .btn {
    width: calc(45% - 10px) ;
    @include tablets {
      max-width: 240px;
    }
    @include phones-xs {
      max-width: 100%;
      width: 100%;
    }
  }
}

.form__body {
  display: flex;
  margin: 0 -10px 20px;
  @include phones {
    width: 100%;
    margin: 0 auto;
  }
  @include phones-xs {
    flex-direction: column;
  }
}
.form-block {
  margin: 0 10px;
  @include tablets {
    width: 50%;
  }
  @include phones {
    margin: 0 0 10px;
  }
  @include phones-xs {
    width: 100%;
    &:first-child {
      margin-bottom: 15px;
    }
  }
}
.form-block__item {
  margin-bottom: rem(18px);
  &:nth-last-child(1){
    margin-bottom: 0;
  }
}
.form-block__label {
  @include font-size(14px);
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
  color: $white
}
.form-block__field {
  display: block;
  width: 100%;
}

.block-policy {
  display: flex;
  position: relative;
  margin-bottom: 15px;
}
.block-policy__input {
  opacity: 0;
  position: absolute;
  &:checked {
    + .my-checkbox {
      &:after {
        opacity: 1;
      }
    }
  }
}
.my-checkbox {
  height: 14px;
  width: 14px;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  background-color: $orange;
  &:after {
    opacity: 0;
    content: "";
    position: absolute;
    background-image: url(../images/icons/check.png);
    height: 10px;
    width: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 2px;
    left: 1px;
  }
}
.block-policy__label {
  padding-left: 25px;
  @include font-size(12px);
  color: $white;
}
.block-policy__link {
  color: $white;
  display: inline-block;
  text-decoration: underline;
  transition: all .3s ease-out;
  &:hover {
    color: $orange;
    text-decoration: none;
    transition: all .3s ease-out;
  }
}

.footer {
  .container{
    background-color: $darkGrey;
  }
  &-inner {
    background-color: $darkGrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    @include phones-xs {
      flex-direction: column;
    }
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__logo {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    &_svg {
      height: 100%;
    }
  }
  &__contact_item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  &__contact_icon {
    max-width: 16px;
    max-height: 20px;
    margin-right: 10px;
  }
  &__contact_svg {
    width: 100%;
    max-height: 20px;
  }
  &__contact_link {
    color: $white;
    @include font-size(12px);
  }
}

.sale-block {
  position: fixed;
  right:0;
  top: 15%;
  width: 250px;
  background-color: $white;
  border-right: 5px solid;
  border-color: $orange;
  transform: translateX(250px);
  transition: all .5s ease;
  z-index: 100;
  box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
  &.active {
    transform: translateX(0);
    transition: all .5s ease;
  }
  &__pic {
    height: 140px;
    width: 100%;
    overflow: hidden;
    &_img {
      height: 100%;
      width: auto;
    }
  }
  &__text {
    padding: 15px 20px 10px;
    p {
      @include font-size(14px);
      margin-bottom: 10px;
      text-align: center;
      color: $black;
      font-weight: 700;
    }
  }
  &__btn {
    text-align: center;
  }
  &__link {
    width: 75%;
    margin: 0 15px 15px;
  }
  &__btn-show {
    position: absolute;
    top: 0;
    right: 100%;
    height: 30px;
    width: 20px;
    background-color: $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .6;
    transition: all .3s ease;
    &:hover {
      transition: all .3s ease;
      opacity: 1;
    }
    span {
      display: inline-block;
      height: 3px;
      width: 3px;
      background-color: $white;
      border-radius: 2px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: -6px;
        height: 3px;
        width: 3px;
        background-color: $white;
        border-radius: 2px;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: -6px;
        height: 3px;
        width: 3px;
        background-color: $white;
        border-radius: 2px;
      }
    }
  }
}
.btn-top {
  height: 44px;
  width: 44px;
  border: 2px solid #c4c4c4;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 25px;
  opacity: .5;
  transition: .3s;
  z-index: 20;
  &:hover {
    opacity: 1;
    transition: .3s;
  }
  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 5px);
    transform: rotate(45deg);
    border: 2px solid #c4c4c4;
    border-bottom: none;
    border-right: none;
    height: 10px;
    width: 10px;
  }
  @include phones {
    display: none;
  }
}