.burger-block
    .burger
        span.burger__line.burger__line--1
        span.burger__line.burger__line--2
        span.burger__line.burger__line--3
.burger-menu
    nav.burger-nav
        ul.burger-nav__list
            li.burger-nav__item
                a.burger-nav__link(href="#") Контакты
            li.burger-nav__item
                a.burger-nav__link(href="#") Новости
            li.burger-nav__item
                a.burger-nav__link(href="#") Клиенты и партнеры
            li.burger-nav__item
                a.burger-nav__link(href='#') Наша команда 
            li.burger-nav__item
                a.burger-nav__link(href='#') О компании
            li.burger-nav__item
                a.burger-nav__link(href="#") Курсы