#popup
    .overlay-modal
    .modal-popup
      .popup-body
        .popup-body__title Revit Interior
        .popup-body__text 
          p Думаете BIM не для дизайнера интерьера? Вы сильно заблуждетесь.
          p После данного курса вы вы поймете, что 3DsMax - это не канон. Revit позволяет не только моделировать все что угодно (это точно), но и вывести рабочую документацию, автоматически сформировать ведомость отделки и конечно же использовать данную модель для дальнейшего рендера. Хоть в 3DsMax, хоть в Lumion. Но Revit так же можно превратить в площадку для визуализации с помощью дополнительных плагинов, таких как Vray! Как говриться "без посредников".
        .ungle-block.ungle-block--bold
          .ungle-block_item.ungle-block_item--tl
          .ungle-block_item.ungle-block_item--tr
          .ungle-block_item.ungle-block_item--br
          .ungle-block_item.ungle-block_item--bl
        .close